---
title: İletişim
layout: static_pages_layout
cover: sos.jpg
---

Benimle, yazılım geliştirme konularında, Commodore 64 / Amiga Demoscene
konularında konuşmak isterseniz;

<script type="text/javascript">
document.write("<p>");
document.write("hthebmlvyznmry\100tznvy\056pbz".replace(/[a-zA-Z]/g, function(c){return String.fromCharCode((c<="Z"?90:122)>=(c=c.charCodeAt(0)+13)?c:c-26);}));
document.write(" adresini kullanabilirsiniz.</p>");
</script>


### Diğer

* [Twitter](https://twitter.com/vigobronx) @vigobronx
* [Twitter](https://twitter.com/ugurozyilmazel) @ugurozyilmazel
* [GitHub](https://github.com/vigo)
* [Rubygems](https://rubygems.org/profiles/vigo)
* [Tumblr](http://vigo.tumblr.com/)
* [LinkedIn](https://linkedin.com/in/ugurozyilmazel)