---
title: Kitaplar
layout: static_pages_layout
cover: room-03-ezos.jpg
---

<p>Açık-kaynak olarak geliştirmeye çalıştığım kitap denemelerim. Katkı yapmak için fork/pr yeterli!</p>

<h3>GIT Püf Noktaları</h3>

<p>Revizyon kontrol sistemi olarak son yıllara damgasını vurmuş bir araç GIT.
Bu kitapta gündelik geliştirme rutinlerinde sıkça karşınıza çıkabilecek
konulara değineceğim.</p>

<p><a href="https://github.com/vigo/git-puf-noktalari" target="_blank">https://github.com/vigo/git-puf-noktalari</a></p>

<hr/>

<h3>Ruby 101</h3>

<p>Hep O'Reilly'nin Pocket yani cep kitaplarına bayılmışımdır. Hem boyut
itibariyle hem de içerik anlamında. Sürekli yanınızda taşıyabileceğiniz,
içinde konusuyla ilgili her şeyin kompak bir şekilde bulunduğu kaynak.</p>

<p>Amacım, bu kitaplar tadında, her zaman yanınızda bulunabilecek, tabiri
caizse başucu kitabı hazırlamak.</p>

<p><a href="https://github.com/vigo/ruby101-kitap" target="_blank">https://github.com/vigo/ruby101-kitap</a></p>


<hr/>


<h3>Türk Scene Tarihi</h3>


<p>7DX Demoparty 2015'ten sonra kesin karar verdiğim, uzun yıllardır hayalini
kurduğum bu kitaba nihayet başladım. Özellikle 1986 - 1996 tarihleri arasında
dokümante edilmesi gerektiğini düşündüğüm, Internet'in olmadığı zamanlarda
bilgisayarla tanışan neslin, o devirde yaptıkları, uluslararası platformlarda
yaşadıkları ve en önemlisi Türkiye'de bilgisayar kültürünün nasıl ortaya
çıktığı ve şekillendiğini anlatan bir belge oluşturmak istiyorum.</p>

<p><a href="https://github.com/vigo/turk-scene-tarihi" target="_blank">https://github.com/vigo/turk-scene-tarihi</a></p>