---
title: Kitaplar
layout: static_pages_layout
cover: room-03-ezos.jpg
---

<p>
    Tamamlamaya çalıştığım kitap projelerim. Hepsi açık-kaynak. Sizler de katkı yapabilirsiniz.
    <a href="https://gitbook.com">Gitbook.com</a> platformunda.
</p>

<div id="published-books">Yükleniyor...</div>

<% content_for :extra_js do %>
    <%= javascript_include_tag 'publish_books' %>
<% end %>