---
title: Contact
layout: static_pages_layout
cover: sos.jpg
---

If you like to talk about Ruby, Python, Golang, Bash programming languages or 
Commodore 64/Amiga Demoscene stuff, you are welcome to drop me lines at:

<script type="text/javascript">
document.write("<p>");
document.write("hthebmlvyznmry\100tznvy\056pbz".replace(/[a-zA-Z]/g, function(c){return String.fromCharCode((c<="Z"?90:122)>=(c=c.charCodeAt(0)+13)?c:c-26);}));
document.write("</p>");
</script>


### Others

* [Twitter](https://twitter.com/vigobronx) @vigobronx
* [GitHub](https://github.com/vigo)
* [Rubygems](https://rubygems.org/profiles/vigo)
* [LinkedIn](https://linkedin.com/in/ugurozyilmazel)
* [Demozoo](https://demozoo.org/sceners/6273/)
* [Exotica](http://janeway.exotica.org.uk/author.php?id=11962)