<!-- footer -->
<div id="footer">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-md-10 col-md-offset-1">

                <nav id="footer-nav">
                    <ul class="list-inline">
                        <% if locale == :tr %>
                        <li class="list-inline-item"><a title="Anasayfa" href="/">Anasayfa</a></li>
                        <li class="list-inline-item"><a title="devPod" href="http://devpod.org">devPod</a></li>
                        <% else %>
                        <li class="list-inline-item"><a title="C64 Scener Database" href="http://csdb.dk/scener/?id=8379">CSDB</a></li>
                        <li class="list-inline-item"><a title="Zombie Boys" href="http://zombieboys.net">Zombie Boys</a></li>
                        <li class="list-inline-item"><a title="Bronx" href="http://bronxwhq.org">Bronx</a></li>
                        <% end %>
                        <li class="list-inline-item pull-md-right m-r-0 m-l-2"><a title="GitHub" href="/feed-<%= I18n.locale %>.xml"><%= fa_icon('rss', :circle, 1) %></a></li>
                        <li class="list-inline-item pull-md-right m-r-0 m-l-2"><a title="GitHub" href="https://github.com/vigo"><%= fa_icon('github', :circle, 1) %></a></li>
                    </ul>
                </nav>

            </div>
        </div>
    </div>
</div>
<!-- /footer -->