---
title: "Practical Web Design Haziran 2009 / 189"
date: 2009-06-07 19:05
cover: generic-mags.jpg
og_image: generic-mags.jpg
tags: pwd,dergi
comments: false
---

Yeni favori dergimin bu ayki sayısı yine dopdolu!
READ_MORE

<div class="row">
    <div class="col-lg-5">
        <%= card src: 'http://2.bp.blogspot.com/_9jz1qeFrzkQ/SivmMq2qyJI/AAAAAAAAB60/yBVMYKNQENo/s400/DSC09573.JPG',
                 alt: 'Fotoğraf: Practical Web Design dergisi kapağı' %>
    </div>
    <div class="col-lg-7">
        <%= markdown('* [Django][django]’ya giriş; basit bir şekilde, Django’yu nasıl install edersiniz,
nasıl uygulama hazırlarsınız, basit şekilde Model’e ve Admin Panel’e,
Templatese giriş...
* Kendi site analiz toolunuzu hazırlayın (*JavaScript’le*)
* Kendi Twitter Displayer’ınızı yapın! Google Maps’le entegreli, jQuery’li
vs... (*JavaScript’le*)
* Cloud Computing nedir?
* Web Tasarımındaki "mit" olan saçma/hurafe şeyler ve gerçekler! (*Zeldman,
  Meyer gibi babalar yazıyor!*)
* Jake Nickell (*Threadless*) ile ropörtaj
* Yeni çıkan kitap tanıtımları...
* iStock Photo’dan Catherine Gluckstein ile Q & A

[django]: https://www.djangoproject.com/')%>
    </div>
</div>
