---
title: "Özgür Web Günleri 2012"
date: 2012-10-25 15:50
cover: http://ozgurwebgunleri.org.tr/2012/wp-content/themes/owtg2012/images/body_bg.png
embedded_tweet: true
tags: python,tdd,django
comments: true
---

Geçtiğimiz hafta düzenlenen (*19-20 Ekim*) [Özgür Web Günleri 2012][owg]&rsquo;de
hayatımın ilk sunumunu yaptım! Evet, ilk sunum. Aslında daha önceleri 
[Demoscene][demoscene] partilerinde pek çok kez sunum, açık oturum, panel vs
gibi şeylere katılmış / yapmıştım ama...
READ_MORE

İzleyici olarak katıldığım etkinliklerde genelde sunumları acımasızca eleştiren
biriyim. Beni yakından tanıyanlar iyi bilir. Özellikle sunuma özensiz hazırlanmışsa
çıldırırım izlerken.

Gördüm ki, seyirci koltuğundan atıp-tutmak çok kolay ve rahatmış. Stressiz,
yayıla yayıla izlemek!

Etkinliğin ilk günü genelde hep Cuma gününe denk geliyor. Cuma - Cumartesi
şeklinde organizasyon yapılıyor. İlk gün ferah fezah bir şekilde ilgilimi çeken
sunumlara katıldım. İlk günden aklımda kalanlar sevgili
[Fehmi Can Sağlam][fehmicansaglam]&rsquo;ın "CoffeeScript JavaScript’e Derlenen 
Bir Programlama Dili" adlı sunumu ve sevgili [Fatih K. Akın][fkadev]&rsquo;ın
"Backbone.js ile Uygulama Geliştirme" sunumuydu.

İlk günün sonu yaklaştığımda birden içimde bir his belirdi...

> Evet, yarın sabah saat 10:00&rsquo;da senin sunum var **vigooooooooo!**

İşte o andan itibaren heyecan başladı... Yaklaşık **1 ay** boyunca üzerinde
çalışmış ve hazırlık yapmıştım sunumla ilgili olarak. Güzel bir konu seçtiğimi
düşünüyorum:

### Python ve Django&rsquo;da Test ile Yürüyen Geliştirme

Pek çok uygulama geliştiricisi test yazarak geliştirme yapmıyor. Nereden mi
biliyorum? Ben de uzun yıllardan beri bu işle uğraşmama rağmen ancak son
bir yıldır konu üzerine ağırlık verebildim. Sonrasında da, en ufak bir iş
yapacağım zaman hemen önce test&rsquo;ini yazmakla başlıyorum işe.

İlk garipliğimi akşam yaptım. Hani sabah saat **10**&rsquo;da sunumum var ya,
bunu [Twitter][twitter-ugurozyilmazel] üzerinden takip edenlere hatırlatma
amacıyla bildireceğim ya... [Tweet&rsquo;i post ediyorum][tweet-fail]:

***

<blockquote class="twitter-tweet" data-lang="tr">
    <p lang="tr" dir="ltr">yarın sabah 10:30’da özgür web günlerinde “python ve django’da testle yürüyen geliştirme” sunumum var. beklerim efenin!</p>
    &mdash; Uğur Özyılmazel (@ugurozyilmazel) <a href="https://twitter.com/ugurozyilmazel/status/259351810274390016">19 Ekim 2012</a>
</blockquote>

***

Dikkat ettiyseniz **10:30** yazmışım... Nasıl yani??? İnsan kendi sunucağı
bir olayın saatini nasıl **yanlış** yazar? Bilemiyorum... İşin daha da acısı
bunu ne zaman farkettim biliyormusunuz? Aslında ben değil, eşim farketti...
Sunumu yapacağım salonda saat **09:55**&rsquo;de [eşim][yesimfo] dediki:

> Sen saat&rsquo;i yanlış duyurmuşsun? 10:30 yazmışsın?

Yani sunuma 5 dakika kala saatini yanlış duyurduğumu farkettim. O esnada
salonda bir kişi vardı... İşte bu psikoloji içinde saatin 10:00 olmasını
beklemeye başladım... Birden kapı açıldı ve içeri 5-10 kişi girdi. Meğer
etkinliğin servis otobüsü kampüse yeni ulaşmış... Beş dakika daha bekleyip
sunuma başladım...

<%= zoomable src: 'http://f.cl.ly/items/0d2z1A0z1w2W2T0H0F2c/ezelimle-sunum.jpg',
             alt: 'Kızım Ezel ile birlikte fotoğrafım',
             title: 'Desteklemeye gelenler arasında canım kızım Ezel de vardı...' %>

İşte o andan itibaren sanki biri geldi, beynimi / bildiklerimi söktü aldı...
Karşımda bilgisayar, sağ yanımda iPad. iPad&rsquo;e slide sırasını yazdım ve
küçük notlar aldım. Sol yanıma da telefonu koydum, kronometresini çalıştırdım.
**45 dakika**ya sığdırmalıydım sunumu... Daha önce test ettiğimde tam **60 dakika**
oluyordu... Bir şekilde bunu bilerek ayarlama yapmam lazımdı...

Başladım, kendimi tanıttım vs derken sanki koşu bantında koşuyormuş gibi nefesimin
yetmediğini hissettim. Anlatıyorum anlatıyorum ama nefesim yetmiyor... Bir an
bulup hüüüüüüüüüüüüüüüüüp diye derince bir nefes almam gerekiyor. Hatta öyle
oldu ki bir an durup izleyenlere de "**Nefesimi yetiştiremiyorum**" dedim.

Eşim de salonda ön sıradan hem izliyor hem fotoğraf çekiyor. Moral / destek
veriyor. Zaten izleyenlerin belkide yarısını tanıyorum. Yani resmen biz-bize
bir durum var... Bunca olumlu şeye rağmen inanılmaz bir panik yaşamaya başladım.
Hatta bir an için kendimi suyun altında nefessiz kalmış gibi hissettim.

<%= video_vimeo "52177751" %>

Sunumum bittikten sonra [Burak Dede][burakdede] tarafından yapılan
"Tornado Web Çatısı ile Gerçek Zamanlı Uygulamalar Geliştirme" ye katıldım.
Gayet güzel bir sunum oldu. 35 dakikada sürdü sunum. Sorulara zaman bile kaldı.

Daha sonra [Django-CMS][django-cms]&rsquo;in developer&rsquo;ı [Jonas Obrist][ojiidotch]
uzun bir "Introduction to Django" sunumu sonuna Django Avrupa durumunu ilave etti.
Bu sunumdan sonra yemek arası oldu. Yemek dönüşünde ben de eve döndüm.

Güzel iki gün geçirdim, yeni insanlarla tanıştım. Kendimce çeşitli dersler
çıkarttım.


[owg]: http://www.ozgurwebgunleri.org.tr/2012/ "Özgür Web Günleri, 2012"
[owg-p]: http://www.ozgurwebgunleri.org.tr/2012/etkinlik-programi/ "Etkinlik Programı"
[fehmicansaglam]: https://twitter.com/fehmicansaglam
[fkadev]: https://twitter.com/fkadev
[burakdede]: https://twitter.com/burakdede
[ojiidotch]: https://twitter.com/ojiidotch

[tweet-fail]: https://twitter.com/ugurozyilmazel/status/259351810274390016
[django-cms]: https://www.django-cms.org "Django-CMS"
[demoscene]: http://en.wikipedia.org/wiki/Demoscene "Demoscene"
[yesimfo]: http://twitter.com/yesimfo
[twitter-ugurozyilmazel]: http://twitter.com/ugurozyilmazel "Uğur Özyılmazel Twitter #2"